{% include  "header.html" %}

{% if msg %}
    <h3 class="h3">{{ msg }}</h3>

    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col" class="centerTableCol">Group Name</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="centerTableCol">{{ group.name }}</td>
        </tr>
        </tbody>
    </table>

{% else %}

    <h3 class="h3 h3Colors">Add new Group:</h3>

    <form action="/add_group" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Group Name</label>
            <input type="text" name="name" maxlength="64" class="form-control">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Add Group</button>
    </form>
{% endif %}

{% include "footer.html" %}