{% include  "header.html" %}
{% if msg %}
    <h3 class="h3">{{ msg }}</h3>

{% else %}
    <h3 class="h3 h3Colors">Search</h3>

    <form action="/group_search" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" maxlength="64" class="form-control">
        </div>
         <div class="form-group">
            <label>Surname</label>
            <input type="text" name="surname" maxlength="64" class="form-control">
        </div>
         <div class="form-group">
            <label>City</label>
            <input type="text" name="city" maxlength="64" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>



{% endif %}
{% include "footer.html" %}