{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {#link to Bootstrap files#}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <title>Ksiazka Adresowa</title>
</head>
<body>
<div class="websiteHeader">
    <nav class="navbar navbar-expand-lg navbar-dark headerRooms">
        <a class="navbar-brand" id="logo">bookAddress</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/new">Add</a>
                <a class="nav-item nav-link" href="/">Browse</a>
                <a class="nav-item nav-link" href="#">Search</a>
                <a class="nav-item nav-link" href="#">Groups</a>
            </div>
        </div>
    </nav>

</div>
<div class="mainContainer">
    <!-- end of header -->