{% include  "header.html" %}

{% if msg %}
    <h3 class="h3 h3Colors">{{ msg }}</h3>

{% else %}

    <h3 class="h3 h3Colors">Modify Person data:</h3>
    <h4 class="h4 h4Colors">Basic information:</h4>
    <div class="userDetailsDiv">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label>First Name</label>
                <input type="text" name="name" maxlength="64" value="{{ modified_person.name }}"
                       class="form-control shortFormsFields">
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input type="text" name="surname" maxlength="64" value="{{ modified_person.surname }}"
                       class="form-control shortFormsFields">
            </div>
            <div class="form-group">
                <label>Description</label>
                <input type="text" name="description" value="{{ modified_person.description }}" class="form-control">
            </div>
            <div class="form-group">
                <label>Replace profile picture:</label>
                <input type="file" name="picture" class="form-control-file">
            </div>
            <hr>
            <button type="submit" class="btn btn-warning">Modify Person!</button>
            <a href="/delete_person/{{ modified_person.id }}">
                <button type="button" class="btn btn-danger">Delete Person!</button>
            </a>
            <input type="hidden" name="next" value="{{ request.path }}">
        </form>
    </div>
    <div class="divAvatar">
        {% if modified_person.picture %}
            <img id="avatarImage" src="{{ modified_person.picture.url }}"
                 alt="{{ modified_person.name }} {{ modified_person.surname }}">
        {% else %}
            <div class="noPicture">
                <i class="fas fa-user-alt"></i>
            </div>
        {% endif %}
    </div>

    <h4 class="h4 h4Colors">Address:</h4>
    {% if address %}
        <form action="/modify_address/{{ address.id }}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Street:</label>
                <input type="text" name="street_name" maxlength="64" value="{{ address.street_name }}"
                       class="form-control shortFormsFields ">
            </div>

            <div class="form-group">
                <label>House Number:</label>
                <input type="text" name="house_number" maxlength="6" value="{{ address.house_number }}"
                       class="form-control formNumbers">
            </div>
            <div class="form-group">
                <label>Flat Number:</label>
                <input type="text" name="flat_number" maxlength="6" value="{{ address.flat_number }}"
                       class="form-control formNumbers">
            </div>
            <div class="form-group">
                <label>City</label>
                <input type="text" name="city" maxlength="64" value="{{ address.city }}"
                       class="form-control shortFormsFields ">
            </div>
            <button type="submit" class="btn btn-warning">Modify Address!</button>
            <a href="/delete/{{ address.id }}">
                <button type="button" class="btn btn-danger">Delete Address!</button>
            </a>
            <input type="hidden" name="next" value="{{ request.path }}">
        </form>

        <br><br>
    {% else %}
        <form action="/add_address/{{ modified_person.id }}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label>Street:</label>
                <input type="text" name="street_name" maxlength="64" class="form-control shortFormsFields ">
            </div>

            <div class="form-group">
                <label>House Number:</label>
                <input type="text" maxlength="6" name="house_number" min=1 class="form-control formNumbers">
            </div>
            <div class="form-group">
                <label>Flat Number:</label>
                <input type="text" maxlength="6" name="flat_number" min=1 class="form-control formNumbers">
            </div>
            <div class="form-group">
                <label>City</label>
                <input type="text" name="city" maxlength="64" class="form-control shortFormsFields ">
            </div>
            <button type="submit" class="btn btn-primary">Add Address!</button>
            <input type="hidden" name="next" value="{{ request.path }}">
        </form>
        <br>
        <hr>
    {% endif %}

    <h4 class="h4 h4Colors">Telephone Numbers:</h4>
    {% if phone_number %}
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col" class="centerTableCol">Telephone Number</th>
                <th scope="col" class="centerTableCol">Type</th>
                <th scope="col" class="centerTableCol">Modify</th>
                <th scope="col" class="centerTableCol">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for tel_number in phone_number %}
                <tr>
                    <form action="/modify_phone/{{ tel_number.id }}" method="post">
                        {% csrf_token %}
                        <td class="centerTableCol">
                            <input type="number" name="phone_number" min="0" value="{{ tel_number.phone_number }}"
                                   class="form-control">
                        </td>
                        <td class="centerTableCol">
                            <select name="phone_type" class="form-control">
                                {% for dic_value in phone_types %}
                                    {% if dic_value.0 ==  tel_number.phone_type %}
                                        <option selected value="{{ dic_value.0 }}">{{ dic_value.1 }}</option>
                                    {% else %}
                                        <option value="{{ dic_value.0 }}">{{ dic_value.1 }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td class="centerTableCol">
                            <button type="submit" class="btn btn-warning">Modify Phone!</button>
                        </td>
                        <input type="hidden" name="next" value="{{ request.path }}">
                    </form>
                    <td class="centerTableCol"><a href="/delete_phone/{{ tel_number.id }}">
                        <button class="btn btn-danger">Delete Phone!</button>
                    </a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No telephone numbers defined</p>
    {% endif %}
    <hr>
    <h5 class="h5">Add new telephone number</h5>
    <hr>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col" class="centerTableCol">Telephone Number</th>
            <th scope="col" class="centerTableCol">Type</th>
            <th scope="col" class="centerTableCol">Add New Phone</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <form action="/add_phone/{{ modified_person.id }}" method="post">
                {% csrf_token %}
                <td class="centerTableCol">
                    <input type="number" name="phone_number" min="0" class="form-control">
                </td>
                <td class="centerTableCol">
                    <select name="phone_type" class="form-control">
                        <option value="1">Work</option>
                        <option value="2">Home</option>
                        <option value="3">Private</option>
                    </select>
                </td>
                <td class="centerTableCol">
                    <button type="submit" class="btn btn-primary">Add Phone</button>
                </td>
                <input type="hidden" name="next" value="{{ request.path }}">
            </form>
        </tr>
        </tbody>
    </table>

    <h4 class="h4 h4Colors">Email Addresses:</h4>
    {% if emails %}
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col" class="centerTableCol">Email Address</th>
                <th scope="col" class="centerTableCol">Type</th>
                <th scope="col" class="centerTableCol">Modify</th>
                <th scope="col" class="centerTableCol">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for email_address in emails %}
                <tr>
                    <form action="/modify_email/{{ email_address.id }}" method="post">
                        {% csrf_token %}
                        <td class="centerTableCol">
                            <input type="email" name="email" min="0" value="{{ email_address.email }}"
                                   class="form-control">
                        </td>
                        <td class="centerTableCol">
                            <select name="email_type" class="form-control">
                                {% for dic_value in email_types %}
                                    {% if dic_value.0 ==  email_address.email_type %}
                                        <option selected value="{{ dic_value.0 }}">{{ dic_value.1 }}</option>
                                    {% else %}
                                        <option value="{{ dic_value.0 }}">{{ dic_value.1 }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td class="centerTableCol">
                            <button type="submit" class="btn btn-warning">Modify Email!</button>
                        </td>
                        <input type="hidden" name="next" value="{{ request.path }}">
                    </form>
                    <td class="centerTableCol"><a href="/delete_email/{{ email_address.id }}">
                        <button class="btn btn-danger">Delete Email!</button>
                    </a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No emails defined for this user</p>
    {% endif %}
    <hr>
    <h5 class="h5">Add new email address</h5>
    <hr>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col" class="centerTableCol">Email Address</th>
            <th scope="col" class="centerTableCol">Type</th>
            <th scope="col" class="centerTableCol">Add New Email</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <form action="/add_email/{{ modified_person.id }}" method="post">
                {% csrf_token %}
                <td class="centerTableCol">
                    <input type="text" name="email" min="0" class="form-control">
                </td>
                <td class="centerTableCol">
                    <select name="email_type" class="form-control">
                        <option value="1">Work</option>
                        <option value="2">Home</option>
                        <option value="3">Private</option>
                    </select>
                </td>
                <td class="centerTableCol">
                    <button type="submit" class="btn btn-primary">Add Email</button>
                </td>
                <input type="hidden" name="next" value="{{ request.path }}">
            </form>
        </tr>
        </tbody>
    </table>

    <h4 class="h4 h4Colors">User Groups:</h4>
    {% if modified_person.groups_set.all %}
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">Group</th>
                <th scope="col" class="tdAlignRight">Remove from Group</th>
            </tr>
            </thead>
            <tbody>
            {% for gr in modified_person.groups_set.all %}
                <tr>
                    <td>{{ gr.name }}</td>
                    <td class="tdAlignRight"><a href="/delete_user_from_group/{{ gr.id }}/{{ modified_person.id }}">
                        <button class="btn btn-danger">Remove</button>
                    </a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>User is not a member of any Groups</p>
    {% endif %}
    <hr>
    <h5 class="h5">Modify User Group Assigment</h5>
    <hr>
    <a href="/add_to_group/{{ modified_person.id }}">
        <button class="btn btn-primary">Group Assign</button>
    </a>
{% endif %}
{% include "footer.html" %}