{% include  "header.html" %}

{% if msg %}
{% else %}
<h3 class="h3 h3Colors">All Groups</h3>

    {% for gr in groups %}
        <table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col" class="centerTableCol">Group: {{ gr.name }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="centerTableCol"><p>
                {% for usr in gr.person.all %}
                    {{ usr.name }}  {{ usr.surname }}<br>
                {% endfor %}
            </p></td>
        </tr>
            </tbody>
</table>
    {% endfor %}

{% endif %}
{% include "footer.html" %}