{% include  "header.html" %}
{% if msg %}

{% else %}
    <h3 class="h3 h3Colors">User: {{ person.name }} {{ person.surname }}</h3>
    <h4 class="h4 h4Colors">Basic information:</h4>
    <div class="userDetailsDiv">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col" class="centerTableCol">Label</th>
                <th scope="col" class="centerTableCol">Basic Data</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Name</td>
                <td>{{ person.name }}</td>
            </tr>
            <tr>
                <td>Surname</td>
                <td>{{ person.surname }}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{{ person.description }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="divAvatar">
        {% if person.picture %}
            <img id="avatarImage"  src="{{ person.picture.url }}" alt="{{ person.name }} {{ person.surname }}">
        {% else %}
            <div class="noPicture">
                <i class="fas fa-user-alt"></i>
            </div>
        {% endif %}
    </div>

    <h4 class="h4 h4Colors">Address:</h4>
    {% if address %}
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col" class="centerTableCol">Label</th>
                <th scope="col" class="centerTableCol">Address Data</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Street</td>
                <td>{{ address.street_name }}</td>
            </tr>
            <tr>
                <td>House Number</td>
                <td>{{ address.house_number }}</td>
            </tr>
            <tr>
                <td>Flat Number</td>
                <td>{{ address.flat_number }}</td>
            </tr>
            <tr>
                <td>City</td>
                <td>{{ address.city }}</td>
            </tr>
            </tbody>
        </table>
    {% else %}
        <p>No address defined</p>
    {% endif %}

    <h4 class="h4 h4Colors">Telephone Numbers:</h4>
    {% if phone %}
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col" class="centerTableCol">Telephone Number</th>
                <th scope="col" class="centerTableCol">Type</th>
            </tr>
            </thead>
            <tbody>
            {% for tel_number in phone %}
                <tr>
                    <td class="centerTableCol">{{ tel_number.phone_number }}</td>
                    <td class="centerTableCol">{{ tel_number.get_phone_type_display }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No email telephone number</p>
    {% endif %}


    <h4 class="h4 h4Colors">Email Addresses:</h4>
    {% if email %}
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col" class="centerTableCol">Email Address</th>
                <th scope="col" class="centerTableCol">Type</th>
            </tr>
            </thead>
            <tbody>
            {% for email_address in email %}
                <tr>
                    <td class="centerTableCol">{{ email_address.email }}</td>
                    <td class="centerTableCol">{{ email_address.get_email_type_display }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No email address</p>
    {% endif %}
    <h4 class="h4 h4Colors">User Groups:</h4>
    {% if person.groups_set.all %}
        <table class="table">
            <tbody>
            {% for gr in person.groups_set.all %}
                <tr>
                    <td>{{ gr.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>User not assigned to any groups</p>
    {% endif %}

    <hr>
    <a href="/modify/{{ person.id }}">
        <button type="submit" class="btn btn-warning">Modify Person!</button>
    </a>
    <a href="/delete_person/{{ person.id }}">
        <button class="btn btn-danger">Delete Person!</button>
    </a>
{% endif %}
{% include "footer.html" %}