{% include  "header.html" %}
{% if msg %}

{% else %}

    <h3 class="h3 h3Colors">All Users:</h3>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th scope="col" class="centerTableCol">Surname</th>
            <th scope="col" class="centerTableCol">Name</th>
            <th scope="col" class="centerTableCol">Groups</th>
            <th scope="col" class="centerTableCol">Modify</th>
            <th scope="col" class="centerTableCol">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="/show_person_details/{{ user.id }}">{{ user.surname }}</a></td>
                <td><a href="/show_person_details/{{ user.id }}">{{ user.name }}</a></td>
                <td class="centerTableCol">
                    <a href="/add_to_group/{{ user.id }}">
                        <button class="btn btn-primary">Group Assign</button></a>
                </td>
                <td class="centerTableCol">
                    <a href="/modify/{{ user.id }}">
                        <button class="btn btn-warning">Modify</button>
                </td>
                <td class="centerTableCol">
                    <a href="/delete_person/{{ user.id }}">
                        <button class="btn btn-danger">Delete!</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endif %}
{% include "footer.html" %}